.root {
  border-left-color: var(--text-dark);
  padding: calc(2vmin) calc(4vmin);
  border-left-width: calc(1vmin);
  border-left-style: solid;
  margin: calc(4vmin) 0;
}

.next {
  background: none;
  border: none;
  color: var(--text-dark);
  font-size: 0.76rem;
  font-weight: bold;
  padding-top: calc(2vmin);
}
