:root {
  --background: linear-gradient(to bottom right, #151524, #08080e);
  --light-background: linear-gradient(to bottom right, #1c1c27, #131319);
  --text: white;
  --accent: linear-gradient(#f54b64, #f78361);
  --accent-top-down: linear-gradient(to bottom, #f54b64, #f78361);
}

body {
  margin: 0;
  background: var(--background);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
